<div class="container">
    
    <div class="row">
        <div class="col col-6">
                   
        <div class="img-container">
            
            <img id="preview" [src]="course.img" style="width:100%;height: 540px;">
        
        
            <div class="img-prev text-center">
                <div class="img-slide active">
                    <img [src]="course.img" appGallery>
                </div>
                <div class="img-slide">
                    <img [src]="course.img1" appGallery>
                </div>
                <div class="img-slide">
                    <img [src]="course.img2" appGallery>
                </div>
                <div class="img-slide">
                    <img [src]="course.img3" appGallery>
                </div>
                <!-- <div class="img-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/BryophyllumPinnatum_634f7c2a-6892-4f1e-bb7b-d2b265fdb09b_800x800.jpg?v=1633608659" appGallery>
                </div>
                <div class="img-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/002_1_938x938.png?v=1633608609" appGallery>
                </div> -->
            </div>
            </div>
            </div>
       
        <div class="col col-6">
            <h3 style="text-align: left;">{{course.pname}}</h3>
            <p style="text-align: left;">by <a style="text-decoration: none;color: red;" href="#">Heartyculture Nursery</a></p>
            <div class="rating">
                <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating> {{currentRate}} Reviews
            </div>
            <p style="text-align: center;text-decoration: solid;font-size:20px ;">{{course.price | currency:'Rs. '}}</p>
            <!-- <div  *ngFor="let Product of Product">
                <p style="text-align: left;font-weight: 400; font-size: 25px;">Rs. {{Product.price}}</p>
            </div> -->
            <div class="row">
                <div class="col col-6">
                    <div style="display:flex;flex-direction:column;border:1px solid black;border-radius: 2px;width: 100px;margin-left: 50px;">
                        <option disabled>Quantity </option>
                        <select style="border:none;width: 100%;">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                        <option value="">8</option>
                        <option value="">9</option>
                        <option value="">10</option>
                        
                      </select>
                      <style>select:focus, input:focus{
                        outline: none;
                    }</style>
                    </div>
                </div>
                <div class="col col-6">
                    <p style="text-align: center;">10% Contribution goes to  <a href="#" style="color: green;">Forest By Heartfulness</a><a href="#" style="color: green;">- Donate</a></p>
                </div>
                
            </div>
            <div class="btn btn-light btn-lg " style="width: 100%;border-color: yellow;margin-bottom: 1rem;" (click)="addToCart(course)">Add to Cart</div>
            <div class="btn btn-warning btn-lg" style="width: 100%;" routerLink="/checkout">Buy it now</div>
            <br>
            <br>
            
            <div class="links">
                <h6 style="text-align: left">Share this:</h6>
                <div class="icons" style="text-align: left">
                    <i href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fwww.heartyculturenursery.com%252Fblogs%252Fplant-care%252Fcontainer-gardening&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=en_GB"
                        class="fa-brands fa-facebook fa-xl" style="color:#3b5998 ;"></i>  &nbsp;
                    <i href="https://twitter.com/share?url=https://www.heartyculturenursery.com/blogs/plant-care/container-gardening"
                        style="color:#1DA1F2;" class="fa-brands fa-round fa-twitter fa-xl">

                    </i> &nbsp;
                    <i href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fwww.heartyculturenursery.com%2Fblogs%2Fplant-care%2Fcontainer-gardening"
                        style="color:#0077B5 ;" class="fa-brands fa-linkedin fa-xl"></i> &nbsp;
                    <i href="https://www.pinterest.com/pin/create/button/?url=https://www.heartyculturenursery.com/blogs/plant-care/container-gardening&media=//cdn.shopify.com/s/files/1/0487/7598/7354/articles/annie-spratt-gI_z1P5zC-M-unsplash_1024x.jpg?v=1617178865&description=Container%20gardening"
                        style="color:#E60023;" class="fa-brands fa-pinterest fa-xl"></i> &nbsp;

                </div>
                <br>
                
            </div>
           
            
              
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                       <div class="pic">
                        <img src="../assets/images/plant-under-sun.png" style="height: 3rem;">Full Sun<br>
                        <img src="https://img.icons8.com/444444/plasticine/2x/soil.png" style="height: 3rem;">Well Drained Soil<br>
                        <img src="https://img.icons8.com/444444/color/3x/air-element.png" style="height: 3rem;">Air Purifying<br>
                        <img src="https://img.icons8.com/444444/color/3x/vegan-food.png" style="height: 3rem;">Medicinal Properties<br>
                        <img src="../assets/images/smiling-face-with-heart.png" style="height: 3rem;">Low Maintenance<br>
                       </div> 
                    </div>
                    <div class="col-6">
                        <img src="https://img.icons8.com/444444/color/3x/partly-cloudy-day--v2.png" style="height: 3rem;">Partial Shade<br>
                        <img src="https://img.icons8.com/444444/color/3x/water-element.png" style="height: 3rem;">Needs Moderate Watering<br>
                        <img src="https://img.icons8.com/444444/office/2x/soil.png" style="height: 3rem;">Moist Soil<br>
                        <img src="https://img.icons8.com/444444/clouds/2x/dog-paw-print.png" style="height: 3rem;">Pet Friendly<br>
                        
                        
                    </div>
                  </div>
                </div>
            </div>
                 
              
        </div>

    </div>


</div>
 


