<div class="container">
    
    <div class="row">
        <div class="col col-6">
            <br>
            <br>
            <br>
            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/001_2_7669ad9d-2814-403a-94f8-7d814b364137_902x902.png?v=1633609044" style="width:100%;height: 540px;" >
            <br>
            
            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/001_2_7669ad9d-2814-403a-94f8-7d814b364137_902x902.png?v=1633609044" alt="">
            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/002_2_66cf88de-32c1-4099-887c-99e974d066a1_903x602.png?v=1633609335" alt="">
            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/Jasminumsambac_c9ad0064-c830-4a75-a7f1-1457a9873d3f_800x800.jpg?v=1633609370" alt="">
            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/003_2_9834eb65-419a-426b-b2f0-96cd1245ef39_902x902.png?v=1633609045" alt="">
            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/Cymbopogoncitratus_36c2efc0-8a5d-4340-a1b3-f3d197ef8279_800x800.jpg?v=1633609370" alt="">
        </div>
        <div class="col col-6">
            <h3 style="text-align: left;">Tranquil Trio | Jasmine, Lemon grass, Henna</h3>
            <p style="text-align: left;">by <a style="text-decoration: none;color: red;" href="#">Heartyculture Nursery</a></p>
            <div class="rating">
                <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating> {{currentRate}} Reviews
            </div>
            <p style="text-align: center;text-decoration: solid;font-size:20px ;">Rs.599.00</p>
            <!-- <div  *ngFor="let Product of Product">
                <p style="text-align: left;font-weight: 400; font-size: 25px;">Rs. {{Product.price}}</p>
            </div> -->
            <div class="row">
                <div class="col col-6">
                    <div style="display:flex;flex-direction:column;border:1px solid black;border-radius: 2px;width: 100px;margin-left: 10px;">
                        <option disabled>Quantity </option>
                        <select style="border:none;width: 100%;">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                        <option value="">8</option>
                        <option value="">9</option>
                        <option value="">10</option>
                        
                      </select>
                      <style>select:focus, input:focus{
                        outline: none;
                    }</style>
                    </div>
                </div>
                <div class="col col-6">
                    <p style="text-align: center;">10% Contribution goes to  <a href="#" style="color: green;">Forest By Heartfulness</a><a href="#" style="color: green;">- Donate</a></p>
                </div>
                
            </div>
           
            
            <div class="btn btn-light btn-lg " style="width: 100%;border-color: yellow;margin-bottom: 1rem;">Add to Cart</div>
            <div class="btn btn-warning btn-lg" style="width: 100%;">Buy it now</div>
            <br>
            <br>
            
            <div class="links">
                <h6 style="text-align: left">Share this:</h6>
                <div class="icons" style="text-align: left">
                    <i href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fwww.heartyculturenursery.com%252Fblogs%252Fplant-care%252Fcontainer-gardening&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=en_GB"
                        class="fa-brands fa-facebook fa-xl" style="color:#3b5998 ;"></i>  &nbsp;
                    <i href="https://twitter.com/share?url=https://www.heartyculturenursery.com/blogs/plant-care/container-gardening"
                        style="color:#1DA1F2;" class="fa-brands fa-round fa-twitter fa-xl">  &nbsp;

                    </i><i href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fwww.heartyculturenursery.com%2Fblogs%2Fplant-care%2Fcontainer-gardening"
                        style="color:#0077B5 ;" class="fa-brands fa-linkedin fa-xl"></i> &nbsp;
                    <i href="https://www.pinterest.com/pin/create/button/?url=https://www.heartyculturenursery.com/blogs/plant-care/container-gardening&media=//cdn.shopify.com/s/files/1/0487/7598/7354/articles/annie-spratt-gI_z1P5zC-M-unsplash_1024x.jpg?v=1617178865&description=Container%20gardening"
                        style="color:#E60023;" class="fa-brands fa-pinterest fa-xl"></i> &nbsp;

                </div>

            </div>
            <br>
              
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                       <div class="pic">
                        <img src="../assets/images/plant-under-sun.png" style="height: 3rem;">Full Sun<br>
                        <img src="https://img.icons8.com/444444/color/3x/water-element.png" style="height: 3rem;">Needs Moderate Watering<br>
                        <img src="https://img.icons8.com/444444/doodle/2x/beautiful-flower.png" style="height: 3rem;">Flowering Plant<br>
                       
                       
                        <img src="../assets/images/smiling-face-with-heart.png" style="height: 3rem;">Low Maintenance<br>
                       </div> 
                    </div>
                    <div class="col-6">
                        <img src="https://img.icons8.com/444444/plasticine/2x/soil.png" style="height: 3rem;">Well Drained Soil<br>
                        <img src="https://img.icons8.com/444444/fluent/2x/smelling-a-flower.png" style="height: 3rem;">Fragrant<br>
                       
                        <img src="https://img.icons8.com/444444/clouds/2x/dog-paw-print.png" style="height: 3rem;">Pet Friendly<br>
                        <img src="https://img.icons8.com/444444/color/3x/grass.png" style="height: 3rem;">Ornamental Plant<br>
                        
                    </div>
                  </div>
                </div>
              </div>
              <br>
                  <p>Rich aromatic plants that soothe and calm.</p>
                  <h6>1. Mogra Jasmine </h6><br>
                  <p>Mogra is a snow white, exquisite flower that has its own exotic sense of beauty. This is quite incomparable to any other flower, with it’s very own unique fragrance and it’s use for women to adorn their hair. In India, it is known for it’s great religious significance, being the flower of gods and goddesses. This durable flower stays fresh for a long time. It is also known for its medicinal and aromatherapy properties, commonly used for it’s healing and a very calming effect.</p><br>
                  <h6>2. Lemongrass  </h6><br>
                  <p>Lemon grass is an unique all purpose herb, and it’s properties are vast, from being a medicinal plant to aromatic plant and even a pesticide. It has many names including Malabar grass, Cochin grass and Barbed wire grass. Lemongrass tea is proven to reduce anxiety, lower cholesterol levels, prevent several infections, boost oral health. It is also used as a handy painkiller.<br>Go ahead and buy this if you want to go over to the healthy tea team and avail the simplicity of the much loved lemongrass fragrance. Most of all, boost your immunity with this plant. <br><i>Did you know that a 2015 study concluded that drinking lemongrass tea for 30 days boosted hemoglobin concentration and RBC count?</i></p><br>
                  <h6>3. Henna  </h6><br>
                  <p>﻿We would remember the henna plant for the rich, deep red mehendi or maruthani on our hands during festivals and the red henna hair dye commonly used. In addition to this, it has health benefits like cooling body temperature and serves as an excellent ornamental outdoor tree. Henna would thrive in your garden when you plant it on well drained soil and water it only once the soil dries out. It also loves the sunlight, so choose a nice sunny spot for it. <br>It is quite a tall shrub, that grows upto 25 feet. Did you know it was brought to India by the mughal emperor Babur? </p><br>
        </div>

    </div>

</div>




