<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5 main-container">
            <div class="content" data-content>
                <div class="wrap">
                    <div class="main">
                        <header class="main__header" role="banner">
                            <a class="" href="/"><img class="logo" alt="Heartyculture Nursery"
                                    src="https://i.postimg.cc/nr3wpQpG/Hearty-Culture-Nursery-Logo-1912-X-500.png" /></a>
                            <h1 class="visually-hidden">
                                Information
                            </h1>
                            <nav aria-label="Breadcrumb">
                                <ol class="breadcrumb" role="list">
                                    <li>
                                        <a routerLink="cartitems">Cart</a>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                    </li>

                                    <li class="breadcrumb__item">
                                        <span class="breadcrumb-item-current">Information</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11"
                                            fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                    </li>

                                    <li class="breadcrumb__item">
                                        <span>Payment</span>
                                    </li>
                                </ol>
                            </nav>
                        </header>
                    </div>
                </div>
            </div>
            <div class="sections">
                <div class="section">
                    <div class="section-header">
                        <div>
                            <p class="section-title" id="main-header" tabindex="-1">Contact information</p>
                            <p class="account-signup">
                                Already have an account?
                                <a routerLink="login"> Log in</a>
                            </p>
                        </div>
                    </div>
                    <div>
                        <input class="form-control form-control-lg" type="text" placeholder="Email">
                    </div>
                    <div class="check-box">
                        <input class="form-check-input" type="checkbox" id="check1" name="news">
                        <label class="form-check-label">Email me with news and offers</label>
                    </div>
                    <br>
                    <div class="main-form">
                        <div>
                            <div>
                                <p class="section-header">Shipping address
                                <p>
                            </div>
                        </div>

                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="country"
                                    placeholder="Country/region">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control form-control-lg"
                                            placeholder="First name">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-lg" placeholder="Last name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="address"
                                    placeholder="Address">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="apartment"
                                    placeholder="Apartment, suite, etc. (optional)">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control form-control-lg" placeholder="City">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-lg" placeholder="State">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-lg" placeholder="PIN code">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="phone" placeholder="Phone">
                            </div>
                            <div class="check-box">
                                <input class="form-check-input" type="checkbox" id="check1" name="news">
                                <label class="form-check-label">Save this information for next time</label>
                            </div>
                        </form>

                        <br>
                        <div>
                            <a routerLink="payment">
                                <button name="button" type="submit" class="btn cts" aria-busy="false">
                                    <span class="btn-content" data-continue-button-content="true" >Continue to
                                        payment</span>
                                </button></a>
                            <a class="previous-link" routerLink="cartitems">
                                <svg width="10" height="10" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 1L7 0 3 4 2 5l1 1 4 4 1-1-4-4" />
                                </svg>
                                <span class="previous-link-content">Return to cart</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 grey-bck show-cart-items-container">
            <!-- <div class="container right-col"> -->
            <table class="show-cart-items-container-table">
                <tbody>
                    <tr class="each-product" *ngFor="let item of cart">
                        <div class="product-thumbnail-1">
                            <td class="product-image">
                                <div class="product-thumbnail">
                                    <div class="product-thumbnail-wrapper">
                                        <img src={{item.cart_image}} class="product-thumbnail-image"
                                            alt="Cotton T-shirt">
                                    </div>
                                    <span class="product-thumbnail-quantity"
                                        aria-hidden="true">{{map.get(item.cart_id)}}</span>
                                </div>
                            </td>
                        </div>
                        <th class="product__description" scope="row">
                            <span class="product-description">{{item.cart_name}}</span>

                        </th>
                        <td class="product__price">
                            <span
                                class="order-summary">{{item.cart_price|currency:'INR'}}</span>
                        </td>
                    </tr>

                </tbody>
            </table>
            <hr>
            <table class="total-table">
                <tbody class="total-line-table-tbody">
                    <tr>
                        <th class="total-line-name">Subtotal</th>
                        <td class="total-line-price" style="font-weight: bold;">
                            <span>
                                <h5>{{totalPrice(temp_cart)|currency:'INR':'symbol':'3.0'}}</h5>
                            </span>
                        </td>
                    </tr>
                    <a aria-haspopup="dialog" data-modal="policy-shipping-policy" data-title-text="Shipping policy"
                        data-close-text="Close" data-iframe="true"
                        href="/48775987354/policies/shipping-policy.html?locale=en-IN">
                        <span class="visually-hidden">Shipping costs</span>
                        <svg class="icon-svg icon-svg--color-adaptive-lighter icon-svg--size-14 icon-svg--inline-after icon-svg--clickable"
                            role="presentation" aria-hidden="true" focusable="false">
                            <use xlink:href="#question"></use>
                        </svg>
                    </a>







                </tbody>
            </table>
        </div>
        <div class="col-1 grey-bck"></div>
    </div>
</div>