/* .header{
    margin-left: 20px;
    color: #484848;
    font-family:Georgia, 'Times New Roman', Times, serif;
} */
.card-body a{
    text-decoration: none;
    color: grey;
}

.card-body a:hover{
    color: red;
}
.card{
    height: 430px;
    transition: 0.5s;
    
}
.target{
    visibility: hidden;
  
}
.card:hover{
    height: 500px;
}
.card:hover .target{
    visibility: visible;
    
}
.card-body a{
    text-decoration: none;
    color: grey;
}
.navbar-custom{
    background-color: #f6f6f6;
    margin-left: 35px;
    margin-right: 40px;
}

.breadcrumb {
    margin-left: 2px;
    padding: 10px;
    padding-top: 18px;
}

.breadcrumb a {
    padding-right: 8px;
    color: red;
    text-decoration: none;
}

.breadcrumb__item {
    padding-left: 8px;
    color: grey;
}

.header {
    margin-left: 20px;
    color: #484848;
    font-family: 'Lato', sans-serif;
}
