.header{
    margin-left: 20px;
    color: #484848;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.card-body a{
    text-decoration: none;
    color: grey;
}

.card-body a:hover{
    color: red;
}
.card{
    height: 430px;
    transition: 0.5s;
    
}
.target{
    visibility: hidden;
  
}
.card:hover{
    height: 500px;
}
.card:hover .target{
    visibility: visible;
    
}
/*sorting*/
.navbar-custom{
    background-color: #f6f6f6;
    margin-left: 35px;
    margin-right: 40px;
}
.container{
    display: flex;
    flex-wrap: wrap;
}