.card-body a{
    text-decoration: none;
    color: grey;
}

.card-body a:hover{
    color: red;
}
.card-hover{
    height: 390px;
    transition: 0.5s;  
}
.target{
    visibility: hidden;
}
.card-hover:hover{
    height: 450px;
}
.card-hover:hover .target{
    visibility: visible;
    
}