<div class="articles">
    <div class="conimg">
       
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="links">
                <h6>Share:</h6>
                <div class="icons">
                    <i href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fwww.heartyculturenursery.com%252Fblogs%252Fplant-care%252Fcontainer-gardening&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=en_GB"
                        class="fa-brands fa-facebook fa-xl" style="color:#3b5998 ;"></i>
                    <i href="https://twitter.com/share?url=https://www.heartyculturenursery.com/blogs/plant-care/container-gardening"
                        style="color:#1DA1F2;" class="fa-brands fa-round fa-twitter fa-xl">

                    </i><i
                        href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fwww.heartyculturenursery.com%2Fblogs%2Fplant-care%2Fcontainer-gardening"
                        style="color:#0077B5 ;" class="fa-brands fa-linkedin fa-xl"></i>
                    <i href="https://www.pinterest.com/pin/create/button/?url=https://www.heartyculturenursery.com/blogs/plant-care/container-gardening&media=//cdn.shopify.com/s/files/1/0487/7598/7354/articles/annie-spratt-gI_z1P5zC-M-unsplash_1024x.jpg?v=1617178865&description=Container%20gardening"
                        style="color:#E60023;" class="fa-brands fa-pinterest fa-xl"></i>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="articleinfo">
                <h5>September 28, 2020 | Kavya Shri</h5>
                <h4>Our impact in Kanha Shanti Vanam</h4>

                <div class="para">
                    
                    <p>With over 150+ years of collective experience and expertise in fields ranging from Forestry, Plantation, Plant Bio Technology to Plant Physiology and Environmental Engineering. the Heartyculture Nursery team has been recognised with multiple awards from the Government of Telangana (Green Kanha and Mayuri Haritha Vanam). Kanha Shantivanam has been awarded the Platinum Honour for being 'The Biggest Green Campus' from Indian Green Building Council in 2019.</p>
                </div>
                
               
                
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <span class="previous">
                        <a href="communityarticles/article1"><span class="fa-solid fa-angle-left"></span>Previous Article</a>
                  
                    </span><br>
                    <a class="prev" href="communityarticles/article1">Our Impact in Kanha Shanti Vanam</a>
                  
                </div>
                <div class="col-md-4 col-xs-12">
                    
                </div>
                <div class="col-md-4 col-xs-12">
                    <span class="next">
                        <!-- <a class="nextpage" style="color: #e32619; text-decoration: none;">Next Article</a><span class="fa-solid fa-angle-right"></span>  -->
                       
                        <a href="communityarticles/article3">Next Article<span class="fa-solid fa-angle-right"></span></a>
                     
                    </span><br>
                    <a class="nex" href="article3">How HeartyCulture 
                        Nursery Came To Be...</a>
                   
                </div>
            </div>
        </div>
      

    </div>

</div>

</div>

