<div>
  <div>
    <a class="nav-link" style="font-weight: 500;color:rgb(246, 70, 70)" aria-current="page" href="#">Home</a></div>
  <div >
  <p style="margin-top:-30px;font-weight:200;margin-left:70px;">>Fruit Trees</p></div>
</div>
<br>
<div class="header">
    <h1>Fruit Trees</h1>
</div>
<br>
<div  *ngFor="let product of productDetail" style="float:left;">
  <div class="container" style="margin-top: 20px;">
    <div class="row">
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img [src]="product.img" class="prodimage">
          <div class="card-body">
                  <p style="font-size: 16px;color:rgb(16, 16, 24);">{{product.pname}}</p>
                  <p style="font-size: 14px; color: grey "class="desc"> {{product.pdescription}} </p>
                  <p style="color: grey;" ><del>{{ product.price | currency:'Rs. '}}</del></p>
                  <p style="color:rgb(235, 37, 37);" >{{ product.price1 | currency:'Rs. '}}</p>
           
             
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="container">
    <div class="row">
      
        <div class="col-3 col-lg-3">
            <div class="card ">
                <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/004_3_c069fa9f-ca0d-451b-b1fd-6338eea6758d_305x305.png?v=1633842281" class="card-img-top" alt="...">
                <div class="card-body ">
                  <h5 class="card-title">Dragon Fruit|Selenicereus undatus</h5>
                  <p class="card-text">Heartyculture Nursery</p>
                  <p class="card-text"><del>Rs. 349.00</del></p>
                  <p class="card-text">Rs. 300.00</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                  
                </div>
              </div>
        </div>
        <div class="col-3 col-lg-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/513A7246_1_df8e9992-3d36-44bc-b3d7-6e28bf64ca16_381x381.png?v=1635336295" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Guava | Psidium guajava</h5>
                  <p class="card-text">Heartyculture Nursery</p>
                  <p class="card-text"><del>Rs. 449.00</del></p>
                  <p class="card-text">Rs. 300.00</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-3 col-lg-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/004_2_56e4e0fe-3b22-4350-9c5f-9283a8334bea_381x381.png?v=1633842115" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">All Time Mango | Mangifera indica l.</h5>
                  <p class="card-text">Heartyculture Nursery</p>
                  <p class="card-text">Rs. 499.00</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-3 col-lg-3">
            <div class="card" >
                <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/004_6_aa442b5e-c8aa-43ce-9ac5-a7fda8bf4c20_381x381.png?v=1633842992" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mulberry | Morus alba</h5>
                  <p class="card-text">Heartyculture Nursery</p>
                  <p class="card-text"><del>Rs. 399.00</del></p>
                  <p class="card-text">Rs. 349.00</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
      <div class="col-3 col-lg-3">
          <div class="card">
              <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/004_1_ccde7321-528a-4aa3-9959-f1b56837676f_381x381.png?v=1633841971" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cricket ball chikku | Manilkara zapota</h5>
                <p class="card-text">Heartyculture Nursery</p>
                <p class="card-text">Rs. 399.00</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </div>
      <div class="col-3 col-lg-3">
          <div class="card">
              <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/002_8f065b6a-09dd-4123-b09b-c7b25584731f_381x381.png?v=1633841803" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Banana TC | Musa</h5>
                <p class="card-text">Heartyculture Nursery</p>
                <p class="card-text">Rs. 299.00</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </div>
      <div class="col-3 col-lg-3">
          <div class="card">
              <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/004_4_fe5b97d5-c4bd-4716-8640-d4ca54671ef5_381x381.png?v=1633842646" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Kamala orange | Citrus sinensis</h5>
                <p class="card-text">Heartyculture Nursery</p>
                <p class="card-text">Rs. 449.00</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </div>
      <div class="col-3 col-lg-3">
          <div class="card">
              <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/004_9de34c0f-f0a9-4155-9460-79cb2b08875d_381x381.png?v=1631515996" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Jackfruit Tree</h5>
                <p class="card-text">Heartyculture Nursery</p>
                <p class="card-text">Rs. 385.00</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </div>
  </div>
    

</div> -->
