<div class="container">
    
    <div class="row">
     <div class="col col-6">
            <!-- <br>
            <br>
            <br>
            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/delightcombonew_800x800.jpg?v=1633842400" style="width:100%;height: 540px;" >
            <br>
            
            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/delightcombonew_800x800.jpg?v=1633842400" alt="">
            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/Selenicereusundatus_f68c40c7-c89b-4a3a-bf21-ec7883ed004a_850x850.jpg?v=1633842400" alt="">
            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/guava_800x800.jpg?v=1633842400" alt="">
            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/Morusalba_41cd674a-18ee-404a-a370-f70faf6a3fe6_800x800.jpg?v=1633842400" alt="">
            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/004_3_7c520be4-adc6-4ba0-b9de-7fbda147e981_938x938.png?v=1633842381" alt="">
            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/002_3_05064815-d5ba-48e7-9c3d-d6e4ea0e5fc4_938x938.png?v=1633842382" alt=""> -->
        
        <div class="img-container">
            
                    <img id="preview" src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/delightcombonew_800x800.jpg?v=1633842400" style="width:100%;height: 540px;"appGallery>
                
                
                    <div class="img-prev text-center">
                        <div class="img-slide active">
                            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/delightcombonew_800x800.jpg?v=1633842400" appGallery>
                        </div>
                        <div class="img-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/Selenicereusundatus_f68c40c7-c89b-4a3a-bf21-ec7883ed004a_850x850.jpg?v=1633842400" appGallery>
                        </div>
                        <div class="img-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/guava_800x800.jpg?v=1633842400" appGallery>
                        </div>
                        <div class="img-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/Morusalba_41cd674a-18ee-404a-a370-f70faf6a3fe6_800x800.jpg?v=1633842400" appGallery>
                        </div>
                        <div class="img-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/004_3_7c520be4-adc6-4ba0-b9de-7fbda147e981_938x938.png?v=1633842381" appGallery>
                        </div>
                        <div class="img-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0487/7598/7354/products/002_3_05064815-d5ba-48e7-9c3d-d6e4ea0e5fc4_938x938.png?v=1633842382" appGallery>
                        </div>
                    </div>
                </div>
              
            </div>
     
    
        <div class="col col-6">
            <h3 style="text-align: left;">Destined To Delight | Dragon fruit, Guava, Mulberry</h3>
            <p style="text-align: left;">by <a style="text-decoration: none;color: red;" href="#">Heartyculture Nursery</a></p>
            <div class="rating">
                <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating> {{currentRate}} Reviews
            </div>
            <p style="text-align: center;text-decoration: solid;font-size:20px ;color: red;">Rs.899.00</p>
            <!-- <div  *ngFor="let Product of Product">
                <p style="text-align: left;font-weight: 400; font-size: 25px;">Rs. {{Product.price}}</p>
            </div> -->
            <div class="row">
                <div class="col col-6">
                    <div style="display:flex;flex-direction:column;border:1px solid black;border-radius: 2px;width: 100px;margin-left: 10px;">
                        <option disabled>Quantity </option>
                        <select style="border:none;width: 100%;">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                        <option value="">8</option>
                        <option value="">9</option>
                        <option value="">10</option>
                        
                      </select>
                      <style>select:focus, input:focus{
                        outline: none;
                    }</style>
                    </div>
                </div>
                <div class="col col-6">
                    <p style="text-align: center;">10% Contribution goes to  <a href="#" style="color: green;">Forest By Heartfulness</a><a href="#" style="color: green;">- Donate</a></p>
                </div>
                
            </div>
           
            
            <div class="btn btn-light btn-lg " style="width: 100%;border-color: yellow;margin-bottom: 1rem;">Add to Cart</div>
            <div class="btn btn-warning btn-lg" style="width: 100%;">Buy it now</div>
            <br>
            <br>
            
            <div class="links">
                <h6 style="text-align: left">Share this:</h6>
                <div class="icons" style="text-align: left">
                    <i href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fwww.heartyculturenursery.com%252Fblogs%252Fplant-care%252Fcontainer-gardening&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=en_GB"
                        class="fa-brands fa-facebook fa-xl" style="color:#3b5998 ;"></i>  &nbsp;
                    <i href="https://twitter.com/share?url=https://www.heartyculturenursery.com/blogs/plant-care/container-gardening"
                        style="color:#1DA1F2;" class="fa-brands fa-round fa-twitter fa-xl">  &nbsp;

                    </i><i href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fwww.heartyculturenursery.com%2Fblogs%2Fplant-care%2Fcontainer-gardening"
                        style="color:#0077B5 ;" class="fa-brands fa-linkedin fa-xl"></i> &nbsp;
                    <i href="https://www.pinterest.com/pin/create/button/?url=https://www.heartyculturenursery.com/blogs/plant-care/container-gardening&media=//cdn.shopify.com/s/files/1/0487/7598/7354/articles/annie-spratt-gI_z1P5zC-M-unsplash_1024x.jpg?v=1617178865&description=Container%20gardening"
                        style="color:#E60023;" class="fa-brands fa-pinterest fa-xl"></i> &nbsp;

                </div>

            </div>
            <br>
              
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                       <div class="pic">
                        <img src="../assets/images/plant-under-sun.png" style="height: 3rem;">Full Sun<br>
                        <img src="https://img.icons8.com/444444/color/3x/water-element.png" style="height: 3rem;">Needs Moderate Watering<br>
                        <img src="https://img.icons8.com/444444/color/3x/avocado.png" style="height: 3rem;">Fruit Tree<br>
                        <img src="https://img.icons8.com/444444/color/3x/vegan-food.png" style="height: 3rem;">Medicinal Properties<br>
                        <img src="../assets/images/smiling-face-with-heart.png" style="height: 3rem;">Low Maintenance<br>
                       </div> 
                    </div>
                    <div class="col-6">
                        <img src="https://img.icons8.com/444444/plasticine/2x/soil.png" style="height: 3rem;">Well Drained Soil<br>
                        <img src="https://img.icons8.com/444444/fluent/2x/smelling-a-flower.png" style="height: 3rem;">Fragrant<br>
                        <img src="https://img.icons8.com/444444/doodle/2x/beautiful-flower.png" style="height: 3rem;">Flowering Plant<br>
                        <img src="https://img.icons8.com/444444/clouds/2x/dog-paw-print.png" style="height: 3rem;">Pet Friendly
                        
                        
                    </div>
                  </div>
                </div>
              </div>
              <br>
                  <p>Beautiful and bountiful fruit plants.</p>
                  <h6>1. Dragon fruit sapling </h6><br>
                  <p>Though it is admired for its unique look and taste, it’s health benefits are said to be innumerable. It is a tropical fruit that has become extremely popular in the recent years. It has bright red skin with green scales that resembles a dragon and hence rightly named Dragon fruit. It has small quantities of many nutrients and is considered to be a highly nutrient dense fruit.<br><br>Go ahead and buy this if you want something truly exotic and nutrient dense.</p><br>
                  <h6>2. Guava sapling  </h6><br>
                  <p>We are no stranger to this crunchy textured fruit we all love. But how would it be to just walk around your house, plucking one right off the tree and munching on it? <br><br>Guava is mildly sweet with its numerous seeds and the green bumpy skin we are all too familiar with. In South East Asia, it is a street favourite where it is dipped in chilli or sprinkled with salt.<br> <br><i>Did you know it was introduced in Asia by the Portuguese in the 17th century?</i></p><br>
                  <h6>3. Mulberry sapling</h6><br>
                  <p>Mulberry is generally a gardener’s favourite as it gives shade and fruit for generations unlike the other trees. It is a haven for birds as they love to snack on those little berries. This is an excellent addition to your backyard or garden if you want lazy summer afternoons where you can just eat fistsful of little berries. The fruits can be any colour - white, blue, red, purple or black. Wait to see what your fruit’s colour would be. </p><br>
        </div>
        

    </div>





