<ng-container *ngIf="cart.length !=0">
<form action="">
  <header class="cart-title">
    <div class="cart-title-left">
      <h1 style="margin-left: 35px;">Your Cart</h1>
    </div>
    <div class="cart-title-right">
      <div class="col">
        <div class="cart-title-total" data-cart-title-total>
          <span class="text-title">Subtotal</span>
          <button type="button" class="btn btn-warning cart-title-button mdc-ripple-surface"
            style="margin-right: 30px;"><i class="fa-sharp fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;Checkout</button>
        </div>
        <span class="text-title">Rs. {{totalPrice(cart)}}.00</span>

      </div>
    </div>
  </header>
  <section class="h-90">
    <div class="container h-70">
      <div class="row d-flex justify-content-center align-items-center h-70">
        <div class="col">
          <div class="card rounded-3 mb-4" *ngFor="let item of cart">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img src={{item.cart_image}} class="img-fluid rounded-3" alt="Cotton T-shirt">
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4">
                  <p class="lead fw-normal mb-2">{{item.cart_name}}</p>
                  <span class="text-muted">{{item.cart_price|currency:'INR'}}</span>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-2 d-flex" style="margin-left: 10px;">
                  <button class="btn btn-link px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                    <i class="fas fa-minus"></i>
                  </button>
                  <input id="form1" type="number" name="cart_quality" style="width:50px;border-radius:10px;" min="1"
                    max="10" value="1" class="form-control form-control-sm">
                  <button class="btn btn-link px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <h5 class="mb-0">{{item.cart_price|currency:'INR'}}.00</h5>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <a (click)="delete(item)" class="text-danger"><i class="fa-solid fa-xmark"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div>
            <span class="total">Subtotal</span>
            <span class="amount">{{totalPrice(cart)|currency:'INR':'symbol':'3.0'}}</span>
          </div>
          <div>
            <span>Shipping & taxes calculated at checkout</span>
          </div>

          <br>
          <div class="d-grid gap-2">
            <button class="btn btn-warning btn-block chek-btn-sec" type="button"><i
                class="fa-sharp fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;Checkout</button>
          </div>

          <div class="shop-more">
            <a href="" style="text-decoration: none; color: red;">Continue shopping
              <span class="fa-solid fa-angle-right"></span>
              <span class="fa-solid fa-arrow-right-long"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
</ng-container>

<ng-container *ngIf="cart.length ==0">
  <header class="cart-title">
    <div class="cart-title-left">
      <h1 style="margin-left: 35px;">Your Cart</h1>
    </div>
    <div class="cart-title-right">
      <div class="col">
        <div class="shop-more">
          <a href="" style="text-decoration: none; color: red; margin-right: 40px;">Continue shopping
            <span class="fa-solid fa-angle-right"></span>
            <span class="fa-solid fa-arrow-right-long"></span>
          </a>
        </div>
      </div>
    </div>
  </header>
 
    <div class="container">
      <div class="card">
        <div class="center-sty">
          <h5>Your Cart is Empty!</h5>
          <a href="" class="btn btn-warning btn-block" type="button"><i
            class="fa-sharp fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;Continue shopping</a>
        </div>
    </div>
  </div>
</ng-container>