img{
    height:250px;
    width:250px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
    
}
.header{
    margin-left: 20px;
    color: #484848;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.effect:hover{
    margin-right: 30px;
    margin-left: 10px;
    
}