/* img{
    height:250px;
    width:250px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
    
}
.header{
    margin-left: 20px;
    color: #484848;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.card {
    padding-top: 10px;
    margin-bottom: 40px;
}
.card-hover{
   
    transition: 0.5s;  
}
.target{
    visibility: hidden;
}
.card-hover:hover{
    height: 450px;
}
.card-hover:hover .target{
    visibility: visible;
    
} */
img{
    height:250px;
    width:250px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
    
}
.header{
    margin-left: 20px;
    color: #484848;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.card {
    padding-top: 10px;
    margin-bottom: 40px;
}
.card-hover{
    height: 440px;
    transition: 0.5s;  
}
.target{
    visibility: hidden;
}
.card-hover:hover{
    height: 500px;
}
.card-hover:hover .target{
    visibility: visible;
    
}
/*sorting*/
.card-body a{
    text-decoration: none;
    color: grey;
}
.navbar-custom{
    background-color: #f6f6f6;
    margin-left: 35px;
    margin-right: 40px;
}
.menu_label {
    width: 120px;
    color: #FFFFFF;
    background-color: #F43B05;
    float: left;
    position: absolute;
    top: 50px;
    left: 5px;
    padding: 4px;
    margin-top: 11.47rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    margin-left: 1rem;
    padding-left: 4px;

}

