<form class="row g-3">
    <div class="col-md-6" id="some">
      <label for="inputEmail4" class="form-label"></label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Name">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label"></label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Email">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label"></label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Phone number">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label"></label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Message">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-warning">Send</button>
    </div>
  </form>
