<h1 style="font-size: 30px;text-align:center;font-weight: 400;margin-top:30px">Contact us</h1><br>
<p style="text-align:center;font-weight: 470;">We'll get back to you as soon as we can <br> care@heartyculturenursery.com</p>

  <form class="row g-3"  [formGroup]="registerForm" (ngSubmit)="submitHandler()">
    <div class="form-group" class="col-md-6">
      <input type="text" class="form-control" name="name" formControlName="name"
      placeholder="Name">
      
  </div>
  <div class="form-group" class="col-md-6">
      <input type="email" class="form-control" name="useremail" formControlName="useremail"
      placeholder="Email">
 
  </div>
    <div class="form-group col-12">
      <input type="text" class="form-control" name="mobile" formControlName="mobile"
        placeholder="Phone Number">
   
    
  </div>
    <div class="form-group">
     
      
      <input type="text"  class="form-control"  name="message" formControlName="message"
      placeholder="Message">
    
      
    </div>
    <button style="width:80px;margin-left: 10px;" type="submit" class="btn btn-warning" >Send</button>
    
  
  </form>
  
