<nav class="navbar navbar-expand-lg custom-nav">
  <div class="container-fluid">
    <!--STRING INTERPOLATION-->
    <!--PROPERTY BINDING IN img tag-->
    <div class="cnt-btn-container">
      <a class="btn btn-success btn-contact" href="https://green-donation.heartfulness.org/heartfulness-green">Donate</a>
    </div>
    <a class="navbar-brand" href="#">
      <img [src]="logo" width="220" height="70" class="second" alt="Drizly"></a>

    <div class="cart-btn">
      <button routerLink='/cartitems' style="margin-right: 10px; padding-top: 7px;">
        <span class="fa-solid fa-cart-shopping" style="font-size:20px;">
          <sup
            style="color: black; margin-left: 8px; font-size:small; background-color:  rgb(235, 209, 11); padding: 5px; padding-left: 8px; padding-right: 8px; border-radius: 10px 10px;">{{cartCount}}</sup></span>
      </button> &nbsp; &nbsp;&nbsp;
    </div>
  </div>
</nav>