<div style="border:none;">
      <div  (mouseover)="showButton=true" (mouseout)="showButton=false" > 
      <div class="row card-group">
          <!--1st column-->
          
          <div class="col col-3" *ngFor="let product of productDetail">
              <div class="card " style="width: 320px;">
                  <!--Property Binding-->
                  <img [src]="product.img" class="prodimg">
                  <div class="card-body">
                    <p style="font-size: 16px;color:rgb(16, 16, 24);">{{product.pname}}</p>
                    <p style="font-size: 14px; color: grey "class="desc"> {{product.pdescription}} </p>
                    <p style="color:rgb(235, 37, 37);" >{{ product.price}}</p>
                    
            </div>
            <div class="row">
              <div class="col" *ngIf="showButton">
                <button type="button" class="btn btn-outline" style="margin-right: 19px; border-color: gold;" [routerLink]="['/indoorplantDetails',product.pid]">Quick Shop</button>
                <a type="button"  class="btn btn-warning" href="">Add to cart</a>
              </div>
                </div>
              
          </div>
          <!--2nd column-->
          
      </div>
  </div>