<div class="articles">
    <div class="conimg">
       
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="links">
                <h6>Share:</h6>
                <div class="icons">
                    <i href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fwww.heartyculturenursery.com%252Fblogs%252Fplant-care%252Fcontainer-gardening&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=en_GB"
                        class="fa-brands fa-facebook fa-xl" style="color:#3b5998 ;"></i>
                    <i href="https://twitter.com/share?url=https://www.heartyculturenursery.com/blogs/plant-care/container-gardening"
                        style="color:#1DA1F2;" class="fa-brands fa-round fa-twitter fa-xl">

                    </i><i
                        href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fwww.heartyculturenursery.com%2Fblogs%2Fplant-care%2Fcontainer-gardening"
                        style="color:#0077B5 ;" class="fa-brands fa-linkedin fa-xl"></i>
                    <i href="https://www.pinterest.com/pin/create/button/?url=https://www.heartyculturenursery.com/blogs/plant-care/container-gardening&media=//cdn.shopify.com/s/files/1/0487/7598/7354/articles/annie-spratt-gI_z1P5zC-M-unsplash_1024x.jpg?v=1617178865&description=Container%20gardening"
                        style="color:#E60023;" class="fa-brands fa-pinterest fa-xl"></i>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="articleinfo">
                <h5>September 28, 2020 | Kavya Shri</h5>
                <h4>Our impact in Kanha Shanti Vanam</h4>

                <div class="para">
                    <p>Plants have a wonderful capacity to absorb and retain the subtle essence of yogic transmission and gently release these very fine vibrations back into the atmosphere.</p>

                    <p>These plants are grown in spirituality charged atmosphere where thousands of people all over the world come together to meditate on several occasions and also during ongoing programs. While you take home a sapling or plant from Heartyculture you are taking a part of this positive peaceful energy only to grow more and give back when nurtured well.</p>

                    <p>Daily monitoring and observing the natural shifts of our green friend’s characteristics is most
                        important. This wonderful caretaker type habit develops our ability to “read” the needs or
                        non-needs of plant care in that moment. For example, our plant seems to be shedding more leaves
                        this week than last. Next, we can go to our seasons date chart, then research the life cycle of
                        this plant and can then comprehend that leaf shedding is perhaps within this plant’s annual leaf
                        cycle.</p>

                    <p>Organic fertilizers are used in the growth of the plants and the saplings are produced inhouse in our own nursery.</p>

                    <p>Kanha Shantivanam, is a spiritual retreat center. Located in the dry and arid environs of Ranga Reddy District, Telangana, on the Deccan Plateau, with fast depleting groundwater and tracts of dry barren land, there was an urgent need to take action. In the month of April 2015, a handful of environmentally conscious volunteers started the work with love, hope and a passion to restore the lush green spaces.</p>

                    <p> In the last 3-4 years, the dry and arid area has undergone transformation in to a lush green place with the plantation of more than two lakh trees. A sapling nursery with more than 600,000 saplings is acting as a supply for the plantation in the region, while close to 1,000 trees saved and translocated from faraway places resurrected here.
                    </p>

                    <p> It has rich biodiversity with plants and trees from various species; comprising of indigenous, medicinal, ecological, spiritual, ornamental, etc.</p>
                    <p>Various soil amendment measures have been taken to retain and improve the top soil, with its capacity to absorb water like a sponge and hold it. The rich top soil with plant roots, fungi, worms, and incects play a crucial role in regeneration of life on earth and the quality of vegetation grown on them.</p>
                </div>
                
               
                
            <div class="row">
                <div class="col-md-4 col-xs-12">
                            
                </div>
                <div class="col-md-4 col-xs-12">
                            
                </div>

                        <div class="col-md-4 col-xs-12">
                            <span class="next">
                                
                                <a href="communityarticles/article2">Next Article<span class="fa-solid fa-angle-right"></span></a>
                             
                            </span><br>
                            <a class="nex" href="communityarticles/article2">People Behind 
                               The Pots</a>
                           
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

