<div>
    <div>
      <a class="nav-link" style="font-weight: 500;color:rgb(246, 70, 70)" aria-current="page" href="#" >Home</a></div>
    <div >
      <p style="margin-top:-23px;font-weight:300;margin-left:50px;">>All Products</p>
    </div>
  <br>
  <div class="header">
      <h1>All Products</h1>
  </div>
  <br>
  <div class="container-fluid" style="margin-top:20px;">
    <div class="row card-group">
      <!--1st column-->
      <div class="col col-3" *ngFor="let product of productDetails">
        <div class="card card-hover shadow">
          <!--Property Binding-->
          <img [src]="product.img" class="prodimg mx-auto">
          <span *ngif="product.discount > 0" class="menu_label">
            Save ₹ {{product.discount}}.00
          </span> 
          <div class="card-body">
            <div class="product-name">
              <p style="font-size: 16px;color:rgb(16, 16, 24);">{{product.pname}}</p>
            </div>
            <p style="font-size: 14px; color: grey " class="desc"> {{product.pdescription}} </p>
            <p style="color:rgb(235, 37, 37);">{{ product.price |  currency:'Rs. '}}</p>
            
            
          </div>
  
          <div class="row" style="margin-bottom: 10px; margin-left: 10px;">
            <div class="col target">
              <button type="button" class="btn btn-outline" style="margin-right: 19px; border-color: gold;"
                data-bs-toggle="modal" data-bs-target="#exampleModal">Quick Shop</button>
              <button type="submit" class="btn btn-warning" >Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
   
      <!--2nd column-->
    </div>
    
  
  
