<h1 style="text-align:center;font-size: 30px;font-weight: 400; ">Privacy policy</h1>
<div style="margin-left: 400px;margin-right:400px;text-align: justify;">



    Heartyculture Nursery recognizes that your privacy is of utmost importance and we assure you that we are committed to protecting your contact and private information at all costs. This privacy policy describes how we collect information, how it is used, and with whom it might be shared. This privacy policy is applicable on all products and services offered by Heartyculture Nursery.
<br>
<br>

We urge you to carefully go through the Privacy Policy before using our website and conducting any type of transaction with us. Using any of our services implies that you have accepted the terms stated in our Privacy Policy.
<br>
<br>

This Privacy Policy may be revised periodically. Kindly revisit this page to remain aware of any changes.
<br>
