<h1 style="text-align:center;font-size: 30px;font-weight: 400;margin-top: 10px;">Shipping Policy</h1>
<div style="margin-left: 350px;margin-right:350px;text-align: justify;">
<br>
We offer shipping to domestic buyers only and do not ship products outside India.
<br>
<br>

Orders are shipped within 7 business days from the date of ordering the plants through registered domestic courier companies or India post. Once your order has been shipped, they would reach you within 4-7 working days depending upon the mode of shipment.
<br>
<br>

We charge a flat shipping charge of Rs 69 per order for domestic customers. We do not ship products outside India.
