<!--  -->
<div class="card card-hover" style="width: 18rem;" style="padding:10px;" (mouseover)="showButton=true" (mouseout)="showButton=false">
    <img [src]="product_cactus.cactus_image" class="prodimage" style="padding: 7px; height:250px;">
    <div class="card-body">
            <p style="font-size: 16px;color:rgb(16, 16, 24);">{{product_cactus.cactus_name}}</p>
            <small><a href="#">Heartyculture Nursery</a></small>
            <p style="color:rgb(235, 37, 37);" >{{ product_cactus.cactus_price| currency:'Rs. '}}</p>
    </div>
    <!--*ngIf="showButton"-->
    <div class="row">
      <div class="col target">
        <!-- data-bs-toggle="modal" data-bs-target="#exampleModal" -->
        <a type="button" class="btn btn-outline" style="margin-right: 19px; border-color: gold;" [routerLink]="['/cactuaDetail',product_cactus.cactus_id]">Quick Shop</a>
        <button type="button"  class="btn btn-warning" (click)="addToCart(product_cactus)" >Add to cart</button>
      </div>
    </div>
  </div>


  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
            <div clas="container-fluid">
              <form >
                <div class="row">
                        <div class="col-sm-6" >
                            <img [src]="product_cactus.cactus_image" alt="image" style="width: 400px; height: 350px;" formControlName="image">  
                        </div>
                        <div class="col-sm-6" style="text-align: left; padding-left: 50px;">
                            <h2 formControlName="name"></h2> 
                        </div>
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button"  class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-warning">Update</button>
              </div>-->
        <!-- </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" *ngFor="let pop of cartsi">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="pop.cart_image" class="prodimage" style="padding: 7px; height:250px;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm">Save changes</button>
      </div>
    </div>
  </div>
</div>  -->