<div class="articles">
    <div class="conimg">
        <!-- <img class = "img-responsive"  src="https://cdn.shopify.com/s/files/1/0487/7598/7354/articles/annie-spratt-gI_z1P5zC-M-unsplash_896x375_crop_center.jpg?v=1617178865"> -->
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="links">
                <h6>Share:</h6>
                <div class="icons">
                    <i href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fwww.heartyculturenursery.com%252Fblogs%252Fplant-care%252Fcontainer-gardening&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=en_GB"
                        class="fa-brands fa-facebook fa-xl" style="color:#3b5998 ;"></i>
                    <i href="https://twitter.com/share?url=https://www.heartyculturenursery.com/blogs/plant-care/container-gardening"
                        style="color:#1DA1F2;" class="fa-brands fa-round fa-twitter fa-xl">

                    </i><i
                        href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fwww.heartyculturenursery.com%2Fblogs%2Fplant-care%2Fcontainer-gardening"
                        style="color:#0077B5 ;" class="fa-brands fa-linkedin fa-xl"></i>
                    <i href="https://www.pinterest.com/pin/create/button/?url=https://www.heartyculturenursery.com/blogs/plant-care/container-gardening&media=//cdn.shopify.com/s/files/1/0487/7598/7354/articles/annie-spratt-gI_z1P5zC-M-unsplash_1024x.jpg?v=1617178865&description=Container%20gardening"
                        style="color:#E60023;" class="fa-brands fa-pinterest fa-xl"></i>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="articleinfo">
                <h5>March 31, 2021 | Heartyculture Nursery</h5>
                <h4>Container gardening</h4>

                <div class="para">
                    <p>Container gardening is a soothing, practical and fun way to build opportunities and relationships
                        with the plant kingdom. Bright and colorful points of interest are easy to create with planned
                        spacing. A handy location near the kitchen can be a good spot for herbs, edible flowers and some
                        vegetables. Large rows of tall potted plants create pathways while several pots of medium sized
                        vegetation organized in a semi-circle invites chairs for a resting spot. The best thing of all
                        though, is, taking a child to the nursery, selecting a container plant together and now we have
                        a future gardener!</p>

                    <p>When we think about it, many plants from nurseries start out in a container only to arrive at
                        your site to be transplanted into a larger container. From there, it may be necessary to change
                        the plant’s home another time in the future as the plant may outgrow its space and become root
                        bound. This type of planting and transplanting will utilize our intuition to sense when to
                        change out the plant from one container to next. Aspects of this cultural practice are some of
                        the best teaching tools we can receive for all types of gardening as the act of working with a
                        live plant gives botanical education first hand.</p>

                    <p>Soil drainage is a priority in potted plant situations. Too fast of a watering drain may lead to
                        roots drying out or a situation of having to water more frequently than necessary. A pot that
                        takes water very slowly may create “wet plant feet” which can result in disease/rot. Either of
                        these situations gives reason to consult with an experienced person to help us select a proper
                        growing medium to use at the proper time re-pot. Be sure to use containers that have at least
                        one drain hole in the bottom and depending on the situation, a plate that the container can set
                        on is good to catch some excess water from spilling on flat surfaces.</p>

                    <p>Depending on one’s geographic location, when the seasons change, so can our containerscapes.
                        Conventional landscape gardens, tree lined roadways, perennial gardens, fruit farms, etc. take
                        on a more permanent theme but this is far from the truth when we do more exploring into
                        container gardening. Annual flowers may do well in the winter of one region while in another
                        they are definitely a summer use. Seasons also bring Holidays where color specific opportunities
                        can arise for creativity. Talk to your nursery person for ideas and timing with bulb planting
                        and even starting plants from seed if this idea gets your attention.</p>

                    <p>Let your imagination take hold and just get started with container planting for years of
                        enjoyment! Be sure to have a daily routine of observation and monitoring. This can help in
                        noticing slow or fast growth, too much sun or too little and even the need for turning the plant
                        on occasion as one side may be stretching towards the light from time to time. Your gardening
                        knowledge can come quickly when working with potted plants which can help you teach others.
                        Hospitality, utility and flexibility are characteristics naturally shared by our green friends
                        in containers and all we have to do is be the same for them.</p>

                </div>
                <div style="width: 100%;">
                    <span style="color: #757575;width: 100%;text-align: center;">About the Author</span>
                    <div class="author-container">
                        <img style="width: 150px;object-fit: cover;height:150px ;"
                            src="https://cdn.shopify.com/s/files/1/0487/7598/7354/files/WhatsApp_Image_2021-03-12_at_10.57.57_AM_480x480.jpg?v=1615527184">
                        <div style="padding:0 10px 0 10px;display:flex;flex-direction: column;height: 100%;">
                            <span style="font-size: 25px; font-weight: bold;">Pat Lewis</span>
                            <div style="font-size: 15px;">
                                <span style="color:#212121;font-size: 18px;">
                                    -Golf Course Manager
                                    <br>
                                    -Landscape installation business owner
                                    <br>
                                    -Estate care (mostly garden maintainence)
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="pagination">
                    <!-- <a class="nextpage" style="color: #e32619; text-decoration: none;">Next Article</a><span class="fa-solid fa-angle-right"></span> -->
                    <a href="PlantTips/foundationplants">Next Article<span class="fa-solid fa-angle-right"></span></a>


                </div>
                <a class="foundation" href="PlantTips/foundationplants">Foundation for Plant Care</a>

            </div>
        </div>


    </div>

</div>
