<!--<div class="row">
    <div class="col-sm-4" style="padding-left: 40px;">
      <div class="card">
        <div class="card-body img" >
          <img src="//cdn.shopify.com/s/files/1/0487/7598/7354/articles/20180206_CAP_9909_700x700_crop_center.jpg?v=1601285617" class="card-img-top">
          <h5 class="card-title" style="text-align:center">Our impact in Kanha Shanti Vanam</h5>
          <p class="card-text">In the last 3-4 years, the dry and arid area has undergone transformation in to a lush green place with the plantation of more than two lakh trees. A sapling nursery with more than 600,000 saplings is acting as a supply for the plantation in the region, while close to 1,000 trees saved and translocated from faraway places resurrected here.</p>
          <a href="#" class="nav-link" style="color: red; text-align: center;">Read now ></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="//cdn.shopify.com/s/files/1/0487/7598/7354/articles/Untitled_design_3855cd66-6177-4ebe-83bd-078cbd0d5abd_700x700_crop_center.png?v=1601285910" class="card-img-top">
          <h5 class="card-title" style="text-align:center">People Behind the Pots</h5>
          <p class="card-text">With over 150+ years of collective experience and expertise in fields ranging from Forestry, Plantation, Plant Bio Technology to Plant Physiology and Environmental Engineering, the Heartyculture Nursery team has been recognised with multiple awards from the Government of Telangana (Green Kanha and Mayuri Haritha Vanam). Kanha Shantivanam has been awarded the Platinum Honour for being 'The Biggest Green Campus' from Indian Green Building Council in 2019.</p>
          <a href="#" class="nav-link" style="color: red; text-align: center;">Read now ></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="padding-right: 40px;">
        <div class="card">
          <div class="card-body">
            <img src="//cdn.shopify.com/s/files/1/0487/7598/7354/articles/20180209_CAP_0313_700x700_crop_center.jpg?v=1601282723" class="card-img-top">
            <h5 class="card-title" style="text-align:center">How Heartyculture Nursery came to be...</h5>
            <p class="card-text">Heartyculture Nursery started with a mission to protect and sustain endangered and endemic species of plants and trees of our nativity, by propagating and planting them across the country. </p>
            <a href="#" class="nav-link" style="color: red; text-align: center;">Read now ></a>
          </div>
        </div>
      </div>
  </div>-->

  
  <div class="guidance">
    <h4 style="margin-top:20px;text-align: center; font-weight:500;">Our Community</h4>
    <div class="card-deck">
      <div class="card" style="width: 27rem; margin-left: 30px; margin-top: 20px;">
        <img class="card-img-top" height="100" style="height:12.8rem"
          src="https://cdn.shopify.com/s/files/1/0487/7598/7354/articles/20180206_CAP_9909_700x700_crop_center.jpg?v=1601285617"
          alt="Card image cap">
        <div class="card-body" style="padding:1.0rem; text-align: center;">
          <h5 style="font-size: 22px; font-weight: 400;" class="card-title">Our impact in Kanha Shanti Vanam</h5>
          <p class="card-text" style="line-height: 27px;">
            In the last 3-4 years, the dry and arid area has undergone transformation in to a lush green place with the plantation of more than two lakh trees. 
            A sapling nursery with more than 600,000 saplings is acting as a supply for the plantation in the region, 
            while close to 1,000 trees saved and translocated from faraway places resurrected here.</p>
          <div class="read" routerLink="communityarticles/article1">Read Now
            <span class="fa-solid fa-angle-right"></span>
            <span class="fa-solid fa-arrow-right"></span>
          </div>
        </div>
      </div>

      <div class="card" style="width: 27rem; margin-left: 30px; margin-top: 20px;">
        <img class="card-img-top" height="100" style="height:12.8rem"
          src="https://cdn.shopify.com/s/files/1/0487/7598/7354/articles/Untitled_design_3855cd66-6177-4ebe-83bd-078cbd0d5abd_700x700_crop_center.png?v=1601285910"
          alt="Card image cap">
        <div class="card-body" style="padding:1.0rem; text-align: center;">
          <h5 style="font-size: 22px; font-weight: 400;" class="card-title">People Behind the Pots</h5>
          <p class="card-text" style="line-height: 27px;">
            With over 150+ years of collective experience and expertise in fields ranging from Forestry, Plantation, Plant Bio Technology to Plant 
            Physiology and Environmental Engineering, the Heartyculture Nursery team has been recognised with multiple awards from the 
            Government of Telangana (Green Kanha and Mayuri Haritha Vanam). Kanha Shantivanam has been awarded the 
            Platinum Honour for being 'The Biggest Green Campus' from Indian Green Building Council in 2019.</p>
          <div class="read" routerLink="communityarticles/article2">Read Now
            <span class="fa-solid fa-angle-right"></span>
            <span class="fa-solid fa-arrow-right"></span>
          </div>
        </div>
      </div>

      <div class="card" style="width: 27rem; margin-left: 30px; margin-top: 20px;">
        <img class="card-img-top" height="100" style="height:12.8rem"
          src="https://cdn.shopify.com/s/files/1/0487/7598/7354/articles/20180209_CAP_0313_700x700_crop_center.jpg?v=1601282723"
          alt="Card image cap">
        <div class="card-body" style="padding:1.0rem; text-align: center;">
          <h5 style="font-size: 22px; font-weight: 400;" class="card-title">How Heartyculture Nursery came to be...</h5>
          <p class="card-text" style="line-height: 27px;">
            Heartyculture Nursery started with a mission to protect and sustain endangered and endemic species of plants and trees
             of our nativity, by propagating and planting them across the country.</p>
          <div class="read" routerLink="communityarticles/article3">Read Now
            <span class="fa-solid fa-angle-right"></span>
            <span class="fa-solid fa-arrow-right"></span>
          </div>
        </div>
      </div>
    </div>
  