.header{
    margin-left: 20px;
    color: #484848;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.col{
    margin-left: -20px;
    margin-right: 20px;
} 
.container{
    margin-left: 60px;
} 