/* .header{
    margin-left: 20px;
    color: #484848;
    font-family:Georgia, 'Times New Roman', Times, serif;
} */

.col{
    margin-left: -20px;
    margin-right: 20px;
} 
.container{
    margin-left: 60px;
} 
.breadcrumb {
    margin-left: 2px;
    padding: 10px;
    padding-top: 18px;
}

.breadcrumb a {
    padding-right: 8px;
    color: red;
    text-decoration: none;
}

.breadcrumb__item {
    padding-left: 8px;
    color: grey;
}

.header {
    margin-left: 20px;
    color: #484848;
    font-family: 'Lato', sans-serif;
}