<div>
  <div>
    <a class="nav-link" style="font-weight: 500;color:rgb(246, 70, 70)" aria-current="page" href="#">Home</a>
  </div>
  <div>
    <p style="margin-top:-30px;font-weight:200;margin-left:70px;">>Medicinal Herbs</p>
  </div>
</div>
<br>
<div class="header">
  <h1>Medicinal Herbs</h1>
</div>
<br>
<div class="container">
  <div class="row card-group">
    <!--1st column-->
    <div class="col col-3" *ngFor="let product of productDetail">
      <div class="card card-hover shadow" style="width: 260px;">
        <!--Property Binding-->
        <img [src]="product.img" class="prodimg" style="padding-right: 27px; height: 200px; width: 235px;">
        <div class="card-body">
          <p style="font-size: 16px;color:rgb(16, 16, 24);">{{product.pname}}</p>
          <p style="font-size: 14px; color: grey " class="desc"> {{product.pdescription}} </p>
          <p style="color:rgb(235, 37, 37);">{{ product.price | currency:'Rs. '}}</p>

        </div>

        <div class="row" style="margin-bottom: 10px; margin-left: 5px;">
          <div class="col target">
            <button type="button" class="btn btn-outline" style="margin-right: 19px; border-color: gold;" data-bs-toggle="modal" data-bs-target="#exampleModal">Quick Shop</button>
            <button type="button"  class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#centralModalSm">Add to cart</button>
          </div>
        </div>
      </div>

    </div>
    <!--2nd column-->
  </div>
  </div>
