<div class="articles">
    <div class="conimg">
        <!-- <img class = "img-responsive"  src="https://cdn.shopify.com/s/files/1/0487/7598/7354/articles/annie-spratt-gI_z1P5zC-M-unsplash_896x375_crop_center.jpg?v=1617178865"> -->
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="links">
                <h6>Share:</h6>
                <div class="icons">
                    <i href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fwww.heartyculturenursery.com%252Fblogs%252Fplant-care%252Fcontainer-gardening&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=en_GB"
                        class="fa-brands fa-facebook fa-xl" style="color:#3b5998 ;"></i>
                    <i href="https://twitter.com/share?url=https://www.heartyculturenursery.com/blogs/plant-care/container-gardening"
                        style="color:#1DA1F2;" class="fa-brands fa-round fa-twitter fa-xl">

                    </i><i
                        href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fwww.heartyculturenursery.com%2Fblogs%2Fplant-care%2Fcontainer-gardening"
                        style="color:#0077B5 ;" class="fa-brands fa-linkedin fa-xl"></i>
                    <i href="https://www.pinterest.com/pin/create/button/?url=https://www.heartyculturenursery.com/blogs/plant-care/container-gardening&media=//cdn.shopify.com/s/files/1/0487/7598/7354/articles/annie-spratt-gI_z1P5zC-M-unsplash_1024x.jpg?v=1617178865&description=Container%20gardening"
                        style="color:#E60023;" class="fa-brands fa-pinterest fa-xl"></i>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="articleinfo">
                <h5>March 24, 2021 | Heartyculture nursery</h5>
                <h4>Plant Selection</h4>

                <div class="para">
                    <p>Before beginning a garden project, you may have several ideas in mind for enhancing spaces with
                        plants and it is good to take things one a step at a time. Having seen a certain plant, a
                        particular landscape or even a picture could have grabbed your attention. Being inspired to
                        create beauty or invoke the assistance of plants for a function comes from so many sources but
                        it is helpful to select plants for our vision with a purpose that matches their habitat needs.
                    </p>

                    <p>Sometimes plantings are done to hide something we don’t want to look at - a matter of function
                        not necessarily just for better aesthetics. Rows of trees can reduce noise while providing
                        shade, a good stand of turf is one’s best friend to prevent erosion, large and small patches of
                        flowering plants attract pollinators, thickly planted groves become habitat for wildlife,
                        edibles and medicinals are there for our body’s health, etc.</p>

                    <p>So let’s say that we have our landscape purpose in mind. What should one be thinking about when
                        researching the type of plant(s) to purchase that will help achieve a healthy, lush, green and
                        or/colorful canvas of beauty and function?</p>

                    <p>Plant industry professionals most often use descriptive terms such as annual, biennial,
                        perennial, vines, shrubs, trees and grass. It would be best to familiarize ourselves with this
                        simple language if you have not done so already. Evergreen (year round green) and deciduous
                        (drops all leaves once per year) are also two terms that we should learn. Most importantly
                        though, plants are categorized by global “planting zones” where the plant is likely to thrive in
                        that part of the world’s typical climate conditions. Nursery personnel and garden center
                        associates are all too happy to educate everyone on these matters as they know first hand the
                        potential joys that successful gardening brings to the world.</p>

                    <p>Consider taking this simple approach - 1. select the plant’s living space. 2. have a purpose for
                        plant selections 3. make practical plant choices that fall in line with appropriate climate zone
                        and potential maturity in mind. 4. start small with trial and dedicated effort. 5. expand when
                        appropriate but allow some time for results in each initiated case.</p>

                    <p> For example, a person may think that they would like one evergreen flowering shrub as a
                        centerpiece to the garden in front of the home. The plant label says that they have the correct
                        zone, the mature height of the plant is listed and this all matches their vision - now just go
                        for it and start planting! At the proper time, adding a few colorful perennials and annuals at
                        the base of this shrub could take on a welcoming entranceway for all to enjoy when coming and
                        going.
                    </p>

                    <p>Experienced gardeners know that abiding by botanical criteria for plant selection is a must but
                        one should keep this fun and openly adore each new plant friend. Experience will help you gain
                        confidence and doing some homework each time you are inspired to get digging will be a vital key
                        to seeing your vision flourish!</p>

                </div>
                <div style="width: 100%;">
                    <span style="color: #757575;width: 100%;text-align: center;">About the Author</span>
                    <div class="author-container">
                        <img style="width: 150px;object-fit: cover;height:150px ;"
                            src="https://cdn.shopify.com/s/files/1/0487/7598/7354/files/WhatsApp_Image_2021-03-12_at_10.57.57_AM_480x480.jpg?v=1615527184">
                        <div style="padding:0 10px 0 10px;display:flex;flex-direction: column;height: 100%;">
                            <span style="font-size: 25px; font-weight: bold;">Pat Lewis</span>
                            <div style="font-size: 15px;">
                                <span style="color:#212121;font-size: 18px;">
                                    -Golf Course Manager
                                    <br>
                                    -Landscape installation business owner
                                    <br>
                                    -Estate care (mostly garden maintainence)
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="pagination">
                    <!-- <a class="nextpage" style="color: #e32619; text-decoration: none;">Next Article</a><span class="fa-solid fa-angle-right"></span> -->
                    <a href="foundationplant"><span class="fa-solid fa-angle-left"></span>Previous Article</a>
                 


                </div>
                <a class="foundation" href="foundationplant">Foundation for Plant Care</a>

            </div>
        </div>


    </div>

</div>