<h1 style="text-align:center;font-size: 30px;font-weight: 400;margin-top: 10px;">Refund policy</h1>
<div style="margin-left: 350px;margin-right:350px;text-align: justify;">
<p style="font-size:17.2px;font-weight: 450;">Return Policy</p>


If you've placed an order with Heartyculture nursery and happen to change your mind, you may cancel the order within 24 hours of placing the order by getting in touch with our customer care.
<br>
<br>

We accept returns / exchange of faulty products only if the cancellation request is made within 24 hours of delivery.
<br>
<br>
<p style="font-size:17.2px;font-weight: 450;">Exchanges</p>

The fastest way to ensure you get what you want is to return the item you have, and once the return is accepted, make a separate purchase for the new item.
<br>
<br>

<p style="font-size:17.2px;font-weight: 450;">Refunds</p>
We will notify you once we’ve received and inspected your return, and let you know if the refund was approved or not. If approved, you’ll be automatically refunded on your original payment method. Please remember it can take some time for your bank or credit card company to process and post the refund too.
</div>


